/* swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
} */

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  transition: all .4s linear;
}
swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  transform: scale(1.2);
}

swiper-container::part(bullet-active) {
  transform: scale(1.2);
}

swiper-container::part(bullet) {
  transition: transform .4s ease;
}