swiper-container {
  height: fit-content;
}

swiper-container::part(wrapper) {
  display: flex;
  align-items: center;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  transition: all .4s linear;
}
swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  transform: scale(1.2);
}