swiper-container {
  width: 75vw;
  margin: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-container::part(wrapper) {
  display: flex;
  align-items: center;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  transition: all .5s linear;

}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
}